In [1]:
# Commented out IPython magic to ensure Python compatibility.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Commented out IPython magic to ensure Python compatibility.
import sklearn
import random

from sklearn.utils import shuffle

In [3]:
data = pd.read_csv(r"E:\4th Year\Project\Sanket Kadam Final Project\creditcardsampling.csv")

d = data

class0 = d[d["Class"] == 0]

len(class0)

class1 = d[d["Class"] == 1]

len(class1)

class0
temp = shuffle(class0)

d1 = temp.iloc[:2000, :]

d1

frames = [d1, class1]
df_temp = pd.concat(frames)

df_temp.info()

df = shuffle(df_temp)

df.to_csv("creditcardsampling.csv")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2492 entries, 305 to 2490
Data columns (total 33 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  2492 non-null   int64
 1   Unnamed: 0    2492 non-null   int64
 2   Time          2492 non-null   float64
 3   V1            2492 non-null   float64
 4   V2            2492 non-null   float64
 5   V3            2492 non-null   float64
 6   V4            2492 non-null   float64
 7   V5            2492 non-null   float64
 8   V6            2492 non-null   float64
 9   V7            2492 non-null   float64
 10  V8            2492 non-null   float64
 11  V9            2492 non-null   float64
 12  V10           2492 non-null   float64
 13  V11           2492 non-null   float64
 14  V12           2492 non-null   float64
 15  V13           2492 non-null   float64
 16  V14           2492 non-null   float64
 17  V15           2492 non-null   float64
 18  V16           2492 non-null   float64
 19  V17           2492 non-null   float64
 20  V18           2492 non-null   float64
 21  V19           2492 non-null   float64
 22  V20           2492 non-null   float64
 23  V21           2492 non-null   float64
 24  V22           2492 non-null   float64
 25  V23           2492 non-null   float64
 26  V24           2492 non-null   float64
 27  V25           2492 non-null   float64
 28  V26           2492 non-null   float64
 29  V27           2492 non-null   float64
 30  V28           2492 non-null   float64
 31  Amount        2492 non-null   float64
 32  Class         2492 non-null   int64
dtypes: float64(30), int64(3)
memory usage: 661.9 KB

In [4]:
import math
import sklearn.preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import (
    accuracy_score,
    classification_report,
    f1_score,
    auc,
)

In [5]:

X_train, X_test, y_train, y_test = train_test_split(
    data.drop("Class", axis=1), data["Class"], test_size=0.3, random_state=42
)

In [6]:
"""# Feature Scaling"""

cols = ["V22", "V24", "V25", "V26", "V27", "V28"]

scaler = StandardScaler()

frames = ["Time", "Amount"]

x = data[frames]

d_temp = data.drop(frames, axis=1)

temp_col = scaler.fit_transform(x)

scaled_col = pd.DataFrame(temp_col, columns=frames)

scaled_col.head()

d_scaled = pd.concat([scaled_col, d_temp], axis=1)

d_scaled.head()

y = data["Class"]

d_scaled.head()

,Time,Amount,Unnamed: 0.1,Unnamed: 0,V1,V2,V3,V4,V5,V6,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Class
0,-1.519245,-0.361126,328,11408,1.389687,-0.537033,0.494336,-0.451961,-0.848195,-0.245666,...,-0.032370,-0.157214,-0.172882,-0.067441,-0.095776,0.531910,-0.273848,-0.021234,-0.009639,0
1,0.963917,-0.187100,685,211008,-1.150887,1.536089,-0.732151,0.853411,-0.856090,0.047735,...,-0.568130,0.456092,0.990265,0.002990,-0.524787,-0.618616,-0.549230,-0.402383,-0.077757,0
2,-0.584282,-0.380826,619,93486,1.079524,0.872988,-0.303850,2.755369,0.301688,-0.350284,...,-0.252115,-0.023255,-0.158601,-0.038806,-0.060327,0.358339,0.076984,0.018936,0.060574,1
3,1.354581,-0.069612,600,254636,1.898629,-0.681605,-0.715655,0.223659,-0.529449,-0.235181,...,-0.109070,-0.264264,-0.933386,0.396983,0.420165,-0.667532,0.213213,-0.068494,-0.030662,0
4,-0.868844,-0.345406,1829,63823,1.242655,0.360220,0.306327,0.695525,-0.343559,-1.061346,...,-0.040667,-0.278665,-0.801189,0.118263,0.356604,0.226853,0.092305,-0.021840,0.032931,0

In [7]:
"""# Dimensionality Reduction"""

from sklearn.decomposition import PCA

pca = PCA(n_components=7)

X_temp_reduced = pca.fit_transform(d_scaled)

pca.explained_variance_ratio_

pca.explained_variance_

names = [
    "Time",
    "Amount",
    "Transaction Method",
    "Transaction Id",
    "Location",
    "Type of Card",
    "Bank",
]

X_reduced = pd.DataFrame(X_temp_reduced, columns=names)
X_reduced.head()

Y = d_scaled["Class"]

new_data = pd.concat([X_reduced, Y], axis=1)
new_data.head()
new_data.shape

new_data.to_csv("finaldata.csv")

#train-Test-Split

X_train, X_test, y_train, y_test = train_test_split(
    X_reduced, d_scaled["Class"], test_size=0.30, random_state=42
)

X_train.shape, X_test.shape

((1744, 7), (748, 7))

In [8]:
new_data

,Time,Amount,Transaction Method,Transaction Id,Location,Type of Card,Bank,Class
0,-126712.412043,906.791162,-6.927606,0.295767,0.439099,-0.143142,1.439381,0
1,72887.617346,566.658288,-0.976693,1.577737,-1.887887,1.390003,0.195436,0
2,-44634.387772,622.727341,-4.253131,-0.724200,0.990283,3.942999,1.038204,1
3,116515.610040,655.344734,-1.623999,0.046767,-0.490877,-1.013662,0.635298,0
4,-74297.285406,-589.779394,-5.324662,-0.172210,0.265585,0.424270,0.795598,0
...,...,...,...,...,...,...,...,...
2487,-80596.246348,-1052.311676,-5.423402,-0.128811,0.106493,-0.130810,0.743190,0
2488,12890.625512,455.600375,45.575808,8.369663,2.859946,-3.757894,5.746863,1
2489,-69094.424341,1054.660135,-5.871551,0.292997,0.014566,-0.534956,0.783110,0
2490,-76333.312361,-272.948906,1.850144,-1.982378,0.588485,-0.218060,-0.160395,1
2491,32114.620308,530.212600,-3.223747,1.006285,-1.215033,-1.492328,-0.103354,0

In [9]:
new_data.size

19936

In [10]:
"""# Decision Tree"""

from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier

dtree=DecisionTreeClassifier()

dtree.fit(X_train,y_train)

y_pred_dtree=dtree.predict(X_test)

print(classification_report(y_test,y_pred_dtree))

d_tree_param=DecisionTreeClassifier()
tree_parameters={'criterion':['gini','entropy'],'max_depth':list(range(2,4,1)),
                 'min_samples_leaf':list(range(5,7,1))}

grid_tree=GridSearchCV(d_tree_param,tree_parameters)

grid_tree.fit(X_train,y_train)

y_pred_dtree2=grid_tree.predict(X_test)

print(classification_report(y_test,y_pred_dtree2))

              precision    recall  f1-score   support

           0       0.97      0.96      0.96       598
           1       0.84      0.87      0.86       150

    accuracy                           0.94       748
   macro avg       0.91      0.91      0.91       748
weighted avg       0.94      0.94      0.94       748

              precision    recall  f1-score   support

           0       0.96      1.00      0.98       598
           1       0.99      0.83      0.91       150

    accuracy                           0.97       748
   macro avg       0.98      0.92      0.94       748
weighted avg       0.97      0.97      0.96       748

In [11]:
#Accuracy
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, y_pred_dtree)
print("Accuracy:", accuracy)

Accuracy: 0.9411764705882353

In [12]:
#More accuracy
from sklearn.metrics import classification_report

report = classification_report(y_test, y_pred_dtree)
print(report)

              precision    recall  f1-score   support

           0       0.97      0.96      0.96       598
           1       0.84      0.87      0.86       150

    accuracy                           0.94       748
   macro avg       0.91      0.91      0.91       748
weighted avg       0.94      0.94      0.94       748

In [13]:
import pickle

In [14]:
with open('decision_tree_model.pkl', 'wb') as file:
    pickle.dump(dtree, file)

In [15]:
with open('decision_tree_model.pkl', 'rb') as file:
    Decision_model = pickle.load(file)