In [1]:
# Commented out IPython magic to ensure Python compatibility.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Commented out IPython magic to ensure Python compatibility.
import sklearn
import random

from sklearn.utils import shuffle

In [3]:
data = pd.read_csv(r"E:\4th Year\aaaaaaaaa\Credit-Card-Fraud-Detection-ML-WebApp-master\creditcard.csv")

# sns.distplot(data["Amount"])

# sns.distplot(data["Time"])

# data.hist(figsize=(20, 20))
# plt.show()

d = data
# sns.jointplot(x="Time", y="Amount", data=d)

class0 = d[d["Class"] == 0]

len(class0)

class1 = d[d["Class"] == 1]

len(class1)

class0
temp = shuffle(class0)

d1 = temp.iloc[:2000, :]

d1

frames = [d1, class1]
df_temp = pd.concat(frames)

df_temp.info()

df = shuffle(df_temp)

df.to_csv("creditcardsampling.csv")

# sns.countplot("Class", data=df)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2492 entries, 142243 to 281674
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    2492 non-null   float64
 1   V1      2492 non-null   float64
 2   V2      2492 non-null   float64
 3   V3      2492 non-null   float64
 4   V4      2492 non-null   float64
 5   V5      2492 non-null   float64
 6   V6      2492 non-null   float64
 7   V7      2492 non-null   float64
 8   V8      2492 non-null   float64
 9   V9      2492 non-null   float64
 10  V10     2492 non-null   float64
 11  V11     2492 non-null   float64
 12  V12     2492 non-null   float64
 13  V13     2492 non-null   float64
 14  V14     2492 non-null   float64
 15  V15     2492 non-null   float64
 16  V16     2492 non-null   float64
 17  V17     2492 non-null   float64
 18  V18     2492 non-null   float64
 19  V19     2492 non-null   float64
 20  V20     2492 non-null   float64
 21  V21     2492 non-null   float64
 22  V22     2492 non-null   float64
 23  V23     2492 non-null   float64
 24  V24     2492 non-null   float64
 25  V25     2492 non-null   float64
 26  V26     2492 non-null   float64
 27  V27     2492 non-null   float64
 28  V28     2492 non-null   float64
 29  Amount  2492 non-null   float64
 30  Class   2492 non-null   int64
dtypes: float64(30), int64(1)
memory usage: 623.0 KB

In [4]:
import math
import sklearn.preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import (
    accuracy_score,
    classification_report,
    confusion_matrix,
    precision_recall_curve,
    f1_score,
    auc,
)

In [5]:

X_train, X_test, y_train, y_test = train_test_split(
    data.drop("Class", axis=1), data["Class"], test_size=0.3, random_state=42
)

In [6]:
"""# Feature Scaling"""

cols = ["V22", "V24", "V25", "V26", "V27", "V28"]

scaler = StandardScaler()

frames = ["Time", "Amount"]

x = data[frames]

d_temp = data.drop(frames, axis=1)

temp_col = scaler.fit_transform(x)

scaled_col = pd.DataFrame(temp_col, columns=frames)

scaled_col.head()

d_scaled = pd.concat([scaled_col, d_temp], axis=1)

d_scaled.head()

y = data["Class"]

d_scaled.head()

,Time,Amount,V1,V2,V3,V4,V5,V6,V7,V8,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Class
0,-1.996583,0.244964,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0
1,-1.996583,-0.342475,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0
2,-1.996562,1.160686,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0
3,-1.996562,0.140534,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0
4,-1.996541,-0.073403,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0

In [7]:
"""# Dimensionality Reduction"""

from sklearn.decomposition import PCA

pca = PCA(n_components=7)

X_temp_reduced = pca.fit_transform(d_scaled)

pca.explained_variance_ratio_

pca.explained_variance_

names = [
    "Time",
    "Amount",
    "Transaction Method",
    "Transaction Id",
    "Location",
    "Type of Card",
    "Bank",
]

X_reduced = pd.DataFrame(X_temp_reduced, columns=names)
X_reduced.head()

Y = d_scaled["Class"]

new_data = pd.concat([X_reduced, Y], axis=1)
new_data.head()
new_data.shape

new_data.to_csv("finaldata.csv")

X_train, X_test, y_train, y_test = train_test_split(
    X_reduced, d_scaled["Class"], test_size=0.30, random_state=42
)

X_train.shape, X_test.shape

((199364, 7), (85443, 7))

In [8]:
new_data

,Time,Amount,Transaction Method,Transaction Id,Location,Type of Card,Bank,Class
0,1.572387,-0.675449,-3.092727,0.911864,-0.857621,0.342864,0.278884,0
1,-1.085034,-0.282990,-1.096471,0.574250,-0.378425,-0.101481,-0.304357,0
2,2.053186,1.079110,-2.751002,0.966890,0.180425,1.613488,0.195182,0
3,1.150058,-0.425866,-2.210541,-0.060423,0.986952,1.334829,-0.001684,0
4,1.142590,-1.339734,-1.828003,0.844355,-0.040790,0.207592,0.587087,0
...,...,...,...,...,...,...,...,...
284802,9.659423,-9.460037,11.630973,4.555172,3.401605,-5.289299,-6.275707,0
284803,0.467074,-0.601058,-0.979841,-1.259415,0.495987,1.369921,0.467310,0
284804,-1.997428,1.215780,3.457515,-1.278002,-0.496696,3.476861,-0.978790,0
284805,-0.042302,-0.605456,0.049187,0.298357,-0.422984,0.371934,-0.506696,0
284806,0.549872,0.402441,0.281286,-0.386048,0.563846,-0.271460,2.104567,0

In [9]:
"""# Logistic Regression"""

from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train,y_train)
y_pred_lr=lr.predict(X_test)
y_pred_lr

from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,y_pred_lr))

#Hyperparamter tuning 
from sklearn.model_selection import GridSearchCV
lr_model = LogisticRegression()
lr_params = {'penalty': ['l1', 'l2'],'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000]}
grid_lr= GridSearchCV(lr_model, param_grid = lr_params)
grid_lr.fit(X_train, y_train)

grid_lr.best_params_

y_pred_lr3=grid_lr.predict(X_test)
print(classification_report(y_test,y_pred_lr3))

[[85295    12]
 [   87    49]]

c:\Users\kadam\miniconda3\envs\newenv\lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
35 fits failed out of a total of 70.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
35 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\kadam\miniconda3\envs\newenv\lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\kadam\miniconda3\envs\newenv\lib\site-packages\sklearn\linear_model\_logistic.py", line 1162, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "c:\Users\kadam\miniconda3\envs\newenv\lib\site-packages\sklearn\linear_model\_logistic.py", line 54, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\kadam\miniconda3\envs\newenv\lib\site-packages\sklearn\model_selection\_search.py:952: UserWarning: One or more of the test scores are non-finite: [       nan 0.99848017        nan 0.99869585        nan 0.99873598
        nan 0.99874601        nan 0.99875103        nan 0.99875103
        nan 0.99875103]
  warnings.warn(

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     85307
           1       0.80      0.36      0.50       136

    accuracy                           1.00     85443
   macro avg       0.90      0.68      0.75     85443
weighted avg       1.00      1.00      1.00     85443

In [10]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, y_pred_lr3)
print("Accuracy:", accuracy)

Accuracy: 0.9988413328183702

In [16]:
from sklearn.metrics import classification_report

report = classification_report(y_test, y_pred_lr3)
print(report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     85307
           1       0.80      0.36      0.50       136

    accuracy                           1.00     85443
   macro avg       0.90      0.68      0.75     85443
weighted avg       1.00      1.00      1.00     85443

In [11]:
import pickle

In [12]:
pickle.dump(lr, open("logistic_regression_model.pkl", "wb"))

In [13]:
model = pickle.load(open("logistic_regression_model.pkl", "rb"))