In [1]:
# Commented out IPython magic to ensure Python compatibility.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Commented out IPython magic to ensure Python compatibility.
import sklearn
import random

from sklearn.utils import shuffle

In [3]:
data = pd.read_csv(r"E:\4th Year\aaaaaaaaa\Credit-Card-Fraud-Detection-ML-WebApp-master\creditcard.csv")

# sns.distplot(data["Amount"])

# sns.distplot(data["Time"])

# data.hist(figsize=(20, 20))
# plt.show()

d = data
# sns.jointplot(x="Time", y="Amount", data=d)

class0 = d[d["Class"] == 0]

len(class0)

class1 = d[d["Class"] == 1]

len(class1)

class0
temp = shuffle(class0)

d1 = temp.iloc[:2000, :]

d1

frames = [d1, class1]
df_temp = pd.concat(frames)

df_temp.info()

df = shuffle(df_temp)

df.to_csv("creditcardsampling.csv")

# sns.countplot("Class", data=df)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2492 entries, 14067 to 281674
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    2492 non-null   float64
 1   V1      2492 non-null   float64
 2   V2      2492 non-null   float64
 3   V3      2492 non-null   float64
 4   V4      2492 non-null   float64
 5   V5      2492 non-null   float64
 6   V6      2492 non-null   float64
 7   V7      2492 non-null   float64
 8   V8      2492 non-null   float64
 9   V9      2492 non-null   float64
 10  V10     2492 non-null   float64
 11  V11     2492 non-null   float64
 12  V12     2492 non-null   float64
 13  V13     2492 non-null   float64
 14  V14     2492 non-null   float64
 15  V15     2492 non-null   float64
 16  V16     2492 non-null   float64
 17  V17     2492 non-null   float64
 18  V18     2492 non-null   float64
 19  V19     2492 non-null   float64
 20  V20     2492 non-null   float64
 21  V21     2492 non-null   float64
 22  V22     2492 non-null   float64
 23  V23     2492 non-null   float64
 24  V24     2492 non-null   float64
 25  V25     2492 non-null   float64
 26  V26     2492 non-null   float64
 27  V27     2492 non-null   float64
 28  V28     2492 non-null   float64
 29  Amount  2492 non-null   float64
 30  Class   2492 non-null   int64
dtypes: float64(30), int64(1)
memory usage: 623.0 KB

In [4]:
import math
import sklearn.preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import (
    accuracy_score,
    classification_report,
    confusion_matrix,
    precision_recall_curve,
    f1_score,
    auc,
)

In [5]:

X_train, X_test, y_train, y_test = train_test_split(
    data.drop("Class", axis=1), data["Class"], test_size=0.3, random_state=42
)

In [6]:
"""# Feature Scaling"""

cols = ["V22", "V24", "V25", "V26", "V27", "V28"]

scaler = StandardScaler()

frames = ["Time", "Amount"]

x = data[frames]

d_temp = data.drop(frames, axis=1)

temp_col = scaler.fit_transform(x)

scaled_col = pd.DataFrame(temp_col, columns=frames)

scaled_col.head()

d_scaled = pd.concat([scaled_col, d_temp], axis=1)

d_scaled.head()

y = data["Class"]

d_scaled.head()

,Time,Amount,V1,V2,V3,V4,V5,V6,V7,V8,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Class
0,-1.996583,0.244964,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0
1,-1.996583,-0.342475,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0
2,-1.996562,1.160686,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0
3,-1.996562,0.140534,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0
4,-1.996541,-0.073403,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0

In [7]:
"""# Dimensionality Reduction"""

from sklearn.decomposition import PCA

pca = PCA(n_components=7)

X_temp_reduced = pca.fit_transform(d_scaled)

pca.explained_variance_ratio_

pca.explained_variance_

names = [
    "Time",
    "Amount",
    "Transaction Method",
    "Transaction Id",
    "Location",
    "Type of Card",
    "Bank",
]

X_reduced = pd.DataFrame(X_temp_reduced, columns=names)
X_reduced.head()

Y = d_scaled["Class"]

new_data = pd.concat([X_reduced, Y], axis=1)
new_data.head()
new_data.shape

new_data.to_csv("finaldata.csv")

X_train, X_test, y_train, y_test = train_test_split(
    X_reduced, d_scaled["Class"], test_size=0.30, random_state=42
)

X_train.shape, X_test.shape

((199364, 7), (85443, 7))

In [8]:
new_data

,Time,Amount,Transaction Method,Transaction Id,Location,Type of Card,Bank,Class
0,1.571853,-0.675545,-3.097606,0.897368,-0.870259,0.383220,0.264748,0
1,-1.085831,-0.282885,-1.100909,0.570778,-0.388609,-0.066196,-0.316126,0
2,2.053924,1.076779,-2.755296,0.949259,0.149143,1.618965,0.126979,0
3,1.150945,-0.427958,-2.204661,-0.054106,0.997718,1.274142,0.001989,0
4,1.144350,-1.342782,-1.822347,0.842633,0.018210,0.111525,0.662008,0
...,...,...,...,...,...,...,...,...
284802,9.657969,-9.459949,11.619209,4.546346,3.317380,-5.096632,-6.350740,0
284803,0.467642,-0.601447,-0.984422,-1.271594,0.473998,1.398406,0.414879,0
284804,-1.997902,1.216618,3.449319,-1.296339,-0.544070,3.554231,-1.008804,0
284805,-0.041414,-0.603943,0.055587,0.285888,-0.387358,0.357138,-0.474956,0
284806,0.550316,0.402524,0.281767,-0.389517,0.565671,-0.279292,2.072723,0

In [9]:
"""# Random Forest"""

from sklearn.ensemble import RandomForestClassifier
randomforest=RandomForestClassifier(n_estimators=5)
randomforest.fit(X_train,y_train)
y_pred_rf=randomforest.predict(X_test)
print(confusion_matrix(y_test,y_pred_rf))

print(classification_report(y_test,y_pred_rf))

[[85298     9]
 [   65    71]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     85307
           1       0.89      0.52      0.66       136

    accuracy                           1.00     85443
   macro avg       0.94      0.76      0.83     85443
weighted avg       1.00      1.00      1.00     85443

In [10]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, y_pred_rf)
print("Accuracy:", accuracy)

Accuracy: 0.999133925541004

In [11]:
from sklearn.metrics import classification_report

report = classification_report(y_test, y_pred_rf)
print(report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     85307
           1       0.89      0.52      0.66       136

    accuracy                           1.00     85443
   macro avg       0.94      0.76      0.83     85443
weighted avg       1.00      1.00      1.00     85443

In [12]:
import pickle

In [13]:
with open('random_forest_model.pkl', 'wb') as file:
    pickle.dump(randomforest, file)

In [14]:
with open('random_forest_model.pkl', 'rb') as file:
    loaded_model = pickle.load(file)